# Directories #
################################################################################
bin
.out
.Xil
prj/sim/func/work
prj/sim/func/wlib

# Files #
################################################################################
cfg_params_generated.svh
md5_generated.svh
webtalk.*
*.log
*.jou
*.str
*.mif
*.wlf
transcript
*.fv
modelsim.ini


